
  <!--Start Photo Gallery-->
  <table id="Photo" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#c2c0c3">
    <tr>
      <td>
        <table border="0" width="85%" cellpadding="15" cellspacing="0" align="center">
          <!-- Heading Start-->
          <tr>
            <td height="180" align="center" valign="middle" colspan="3">
              <font face="arial" color="#292929" size="6">
                Photo Gallery
              </font>
              <hr width="70" color="#292929">

            </td>
          </tr>
          <!--Heading End-->
          <tr>
          <tr>
            <td width="33%">
              <img src="../../assets/sanish/1.jpg" width="100%">
            </td>
            <td width="33%">
              <img src="../../assets/sanish/2.jpg" width="100%">
            </td>
            <td width="33%">
              <img src="../../assets/sanish/3.jpg" width="100%">
            </td>
          </tr>

          <tr>
            <td width="33%">
              <img src="../../assets/sanish/4.jpg" width="100%">
            </td>
            <td width="33%">
              <img src="../../assets/sanish/5.jpg" width="100%">
            </td>
            <td width="33%">
              <img src="../../assets/sanish/6.jpg" width="100%">
            </td>
          </tr>

          <tr>
            <td width="33%">
              <img src="../../assets/sanish/7.jpg" width="100%">
            </td>
            <td width="33%">
              <img src="../../assets/sanish/8.jpg" width="100%">
            </td>
            <td width="33%">
              <img src="../../assets/sanish/9.jpg" width="100%">
            </td>
          </tr>
        </table> 
        </td>



    </tr>
   

 <tr>
      <td>
        &nbsp;
      </td>
    </tr>
 
  </table>
  <!--End Photo Gallery-->
